body {
    color: rgb(156, 215, 255);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(60, 132, 150);
    padding: 0px;
    font-size: 32px;
    color: rgb(60, 132, 150);
}

section {
   background: rgb(0, 153, 255); 
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 40px;
}